/*myCar*/
/* div{width: 1000px;margin:0 auto;} */
/*header*/
div .header{
	width: 1200px;
	background-color: rgba(220,181,166,.6);
	margin:0 auto;
}
div .header span{
	height: 30px;
	display: inline-block;
	font: 16px/30px "微软雅黑";
}
div .header span:nth-child(1){margin-left: 20px;}
div .header span:nth-child(2){margin-left: 120px;}
div .header span:nth-child(3){margin-left: 365px;}
div .header span:nth-child(4){margin-left: 130px;}
div .header span:nth-child(5){margin-left: 135px;}
div .header span:nth-child(6){margin-left: 120px;}
h2,.myCar{width: 1200px;background-color: rgba(220,181,166,.6);margin:0 auto;}
h2{
	height: 55px;line-height: 55px;
	margin-bottom: 15px;
	text-indent: 2em;
}
hr{width: 1200px;margin:0 auto;}

/*con*/
.myCar{}
.myCar th{height: 50px;}
.myCar td:nth-child(1){width: 60px;padding-left: 20px;}
.myCar td:nth-child(2){width: 255px;}
.myCar td:nth-child(2) img{
	width: 250px;height: 100px;
	margin: 10px;
	cursor: pointer;
	z-index: 1000;
}
.myCar td:nth-child(2) img:active{transform: scale(1.5,1.5);}
.myCar td:nth-child(3){width: 200px;height: 100px;}
.myCar td:nth-child(3) span{
	width: 160px;height: 80px;
	display: inline-block;
	margin: 10px;
	z-index: 1;
}
.myCar td:nth-child(4){position: relative;}
.myCar td:nth-child(4) span{position: absolute;}
.myCar td:nth-child(4) span:nth-child(1){left: 35px;top: 52px;}
.myCar td:nth-child(4) span:nth-child(2){
	left: 35px;top: 80px;
	font-size: 14px;
	color: #7A7474;
	text-decoration: line-through;
}
.myCar td:nth-child(5){padding-left: 110px;width: 150px;}
.myCar td:nth-child(5) span{
	width: 25px;height: 25px;
	cursor: pointer;
	font-size: 20px;
	color: #ff2a00;
}
.myCar td:nth-child(5) span:nth-child(1){margin-left: 70px;}
.myCar td:nth-child(5) input{
	width: 25px;height: 25px;
	border: 1px solid #ccc;
	padding-right: 15px;
	text-align: center;
}
/* .myCar td:nth-child(6){padding-left: 0;} */
.myCar td:nth-child(6) span{display: inline-block;width: 30px;margin-left: 90px}
.myCar td:nth-child(7) a{text-decoration: none;color: #000;margin-right: 20px;}
.myCar td:nth-child(7) a:hover{color: #ff2a00;text-decoration: underline;}



/*footer*/
.footer{
	width: 1200px;height: 100px;
	margin:10px auto;
	background-color: rgba(220,181,166,.6);
	position: relative;
}
.footer input{
	margin-left: 23px;
	margin-top: 20px;
}
/* ul{list-style: none;position: absolute;left: 40px;top: 0px;} */
.footer ul li{display: inline-block;color: #333;}
.footer ul li:nth-child(1){margin-left:30px;}
.footer ul li:nth-child(2){margin-left: 705px;margin-right: 10px;}
.footer ul li:nth-child(3) span{
	width: 90px;height: 40px;
	display: inline-block;
	font-size: 28px;
	color: #ff2a00;
}
.footer ul li:nth-child(4){
	width: 150px;height: 50px;
	font: 28px/50px "微软雅黑";
	margin-left: 100px;
	text-align: center;
	background-color: #ff2a00;
	color: #fff;
	cursor: pointer;
}